server:
  port: 9191

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:3000
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**

        - id: friend-service
          uri: lb://friend-service
          predicates:
            - Path=/api/friend/**

    discovery:
      locator:
        enabled: true  # T? ??ng ??nh tuy?n theo tï¿½n service n?u mu?n

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka
